body {
  font-family: "Segoe UI", "system-ui", "-apple-system", sans-serif;
}

main {
  padding-bottom: 30px;
}

.messages {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.message {
  border: 1px solid;
  padding: 20px;

  max-width: 1280px;
}

.user {
  font-weight: bold;
  font-size: 1.2em;

  margin-top: 10px;
}

.add-date {
  font-style: italic;
}

button {
  padding: 5px 15px;

  font-size: 1em;

  cursor: pointer;
}

.new-msg {
  margin-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 225px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

.submit-msg {
  margin: 10px;
}
